@import '../../stylesheets/common.scss';
@import '~bootstrap/scss/bootstrap';

.loginPage {
  @include mainContentRulers(79px, 30px, 60px, 30px, 100%);
  @include flexbox;
  @include flex-direction(column);

  &__buttonPrimary {
    @include button-primary;
    margin-top: 48px;
  }

  &__buttonSecondary {
    @include button-secondary-outline;
    margin-top: 16px;
  }

  &__esqueceuSuaSenha {
    font-family: $estc-font-opensans-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: theme-color("gray-dark");
    text-transform: lowercase;
    cursor: pointer;
  }
}