@import '../../../stylesheets/common';
@import '~bootstrap/scss/bootstrap';

.textarea {

  &__label {
    @include input-label;
  }

  &__field {
    @include input-field;
    min-height: 116px;
    resize: none;

    &::placeholder {
      font-family: $estc-font-opensans-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smooyhing: grayscale;
    }
  }
}