@import "./typography";
@import './common';
@import '~bootstrap/scss/bootstrap';

*,
:before,
:after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: $estc-font-opensans-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include h1;
  margin: 0;
  z-index: 5;
}

h2 {
  @include h2;
  margin: 0;
  z-index: 5;
}

h3 {
  @include h3;
  margin: 0;
  z-index: 5;
}

h4 {
  @include h4;
  margin: 0;
  z-index: 5;
}

h5 {
  @include h5;
  margin: 0;
  z-index: 5;
}