@import './theme.scss';

// OPEN SANS
$estc-font-opensans-light: 'OpenSans-Light',
'Roboto',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont;
$estc-font-opensans-regular: 'OpenSans-Regular',
'Roboto',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont;
$estc-font-opensans-semibold: 'OpenSans-SemiBold',
'Roboto',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont;
$estc-font-opensans-bold: 'OpenSans-Bold',
'Roboto',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont;