@import '../../stylesheets/common';
@import '~bootstrap/scss/bootstrap';

.secaoPagamento {

  &__content {
    @include mainContentRulers(32px, 30px, 32px, 30px, 100%);

    &__card {
      @include mainContentRulers(20px, 20px, 20px, 20px, 100%);
      @include flexbox;
      @include align-items(center);
      position: relative;
      background-color: theme-color("gray-light");
      border-radius: 10px;
      margin-bottom: 10px;

      &__ico {
        margin-right: 20px;
      }

      &__titulo {
        font-family: $estc-font-opensans-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: theme-color("gray-darked");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smooyhing: grayscale;
        margin: 0;

        &--negrito {
          font-family: $estc-font-opensans-semibold;
          font-weight: 600;
          color: theme-color("green-medium");
        }
      }

      &__icoAction {
        position: absolute;
        right: 20px;
      }
    }
  }
}