@import '../../../stylesheets/common';
@import '~bootstrap/scss/bootstrap';

.inputMaterial {
  width: 100%;

  &__group {
    position: relative;
    margin: 16px 0;

    &__label {
      color: theme-color("gray-lighten");
      font-family: 'OpenSans-Regular', 'Roboto', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &__bar {
      position: relative;
      display: block;
      width: 100%;

      &:before,
      &:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: theme-color("primary");
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }

    &__highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  input {
    font-family: 'OpenSans-Regular', 'Roboto', 'Helvetica Neue', sans-serif, -apple-system, BlinkMacSystemFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: theme-color("gray-darked");
    padding: 10px 10px 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid theme-color("gray-lighten");

    &:focus {
      outline: none;
    }

    &:focus~label,
    &:valid~label {
      top: -15px;
      font-size: 14px;
    }

    &:valid~label {
      color: theme-color("gray-lighten");
    }

    &:focus~label {
      color: theme-color("primary");
    }

    &:focus~.inputMaterial__group__bar:before,
    &:focus~.inputMaterial__group__bar:after {
      width: 50%;
    }

    &:focus~.inputMaterial__group__highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }
}

@-webkit-keyframes inputHighlighter {
  from {
    background: theme-color("primary");
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: theme-color("primary")theme-color("primary");
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: theme-color("primary");
  }

  to {
    width: 0;
    background: transparent;
  }
}