@import './stylesheets/common';
@import '~bootstrap/scss/bootstrap';

.secaoApp {
  @include mainContentRulers(24px, 30px, 24px, 30px, 100%);
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  &__logo {
    margin: 0 auto;
  }

  &__nota {
    @include mainContentRulers(8px, 8px, 8px, 8px, 100%);
    background-color: theme-color("gray-light");
    border: 1px solid theme-color("primary");
    border-radius: 10px;
    margin: 40px 0;

    &__texto {
      font-family: $estc-font-opensans-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: theme-color("gray-dark");
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smooyhing: grayscale;
      margin: 0 0 8px;

      span {
        font-family: $estc-font-opensans-bold;
        font-style: normal;
        font-weight: 600;
      }
    }
  }

  &__link {
    @include button-outline("primary");
    text-transform: uppercase;
  }
}