@import '../../stylesheets/common';
@import '~bootstrap/scss/bootstrap';

.secaoEntregaB {

  &__header {
    @include mainContentRulers(20px, 24px, 20px, 24px, 100%);
    background-color: theme-color("primary");

    &__top {
      @include flexbox;
      @include align-items(center);

      &__ico {
        margin-right: 30px;
      }

      &__titulo {
        @include h5;
        color: theme-color("white");
        margin: 0;
      }
    }

    &__dropdown {
      width: 100%;
      position: relative;
      display: inline-block;
      padding-left: 55px;
      margin-top: 10px;

      &__btn {
        @include mainContentRulers(8px, 12px, 8px, 12px, 100%);
        @include flexbox;
        @include align-items(center);
        width: 270px;
        position: relative;
        background-color: theme-color("green-medium");
        border: none;
        border-radius: 10px;
        font-family: $estc-font-opensans-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: theme-color("white");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smooyhing: grayscale;
        cursor: pointer;

        &__ico {
          margin-right: 16px;
        }

        &__arrow {
          position: absolute;
          right: 24px;
          top: 16px;
        }

        &:hover {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &__content {
        @include mainContentRulers(0, 12px, 12px, 12px, 100%);
        display: none;
        position: absolute;
        top: 41px;
        background-color: theme-color("green-medium");
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 270px;
        z-index: 1;

        &__divisor {
          height: 1px;
          border-top: 1px solid theme-color("white");
          margin-bottom: 12px;
        }

        &__item {
          font-family: $estc-font-opensans-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          color: theme-color("white");
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smooyhing: grayscale;
        }
      }

      &:hover {
        .secaoResumo {
          &__header {
            &__dropdown {

              &__btn {
                &__arrow {
                  transform: rotate(180deg);
                }
              }

              &__content {
                display: block;
                z-index: 9;
              }
            }
          }
        }
      }
    }
  }

  &__content {}
}